name: go-nbd

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        toolchain: [oldstable, stable]
    runs-on: ${{ matrix.os }}
    env:
      CGO_ENABLED: 0
      GOTOOLCHAIN: local
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.toolchain }}
    - name: Build
      run: go build ./...
  lint:
    strategy:
      matrix:
        toolchain: [oldstable, stable]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.toolchain }}
    - uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      with:
        version: v2.1
  test:
    strategy:
      matrix:
        toolchain: [oldstable, stable]
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 0
      GOTOOLCHAIN: local
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.toolchain }}
    - name: Install nbdkit
      run: sudo apt-get install nbdkit
    - name: Test
      run: go test -timeout 1m -v ./...